<%- include("partials/header") -%>


  <h1>
    <%= title %>
  </h1>
  <p>
    <%= content %>
  </p>



  <form class="item" action="/posts/:postName" method="post">
    <button type="submit" class="btn btn-danger" name="button">Delete All Posts</button>
  </form>



<%- include("partials/footer") -%>
